<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to my {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<body class="logged-in">
  <h1  class="ThisSass">2.2 Variables</h1>
  <p   class="lead-text">Best product ever!</p>
  <div class="primary-button">Buy now!</div>
  <div class="secondary-button">More info</div>

  <h1>2.3 Nesting</h1>
  <ul class=contacts>
    <li>
      <div class="article1">
          <header>Vivi Kusha

          </header>
          <p>Phone: 000-000-0000</p>
      </div>
    </li>
    <li>
      <div class="article1">
          <header>Lulu la</header>
          <p>Phone: 000-000-0000</p>
      </div>
    </li>
    <li>
      <div class="article1">
          <header>Cloud Stideheart</header>
          <p>Phone: 000-000-0000</p>
      </div>
    </li>
  </ul>


  <h1>2.4 Extending classes and including functions</h1>
  <div class="yes">Yes</div>
  <div class="no">No</div>
  <div class="cancel">Cancel</div>
  <div style="clear: both;"></div>


  <h1>3.2 Mathematics</h1>
  <div class="Math-Container">
    <div class="col1">Col 1</div>
    <div class="col2">Col 2</div>
    <div class="col3">Col 3</div>
    <div style="clear: both;"></div>
  </div>


  <h1>3.3 Parent Selectors</h1>
  <nav class="related">
    <ul>
      <li class="col1">
        <a href="#1">Link Test 1</a>
      </li>
      <li class="col2">
        <a href="#2">Link Test 2</a>
      </li>
      <li class="col3">
        <a href="#3">Link Test 3</a>
      </li>
    </ul>
  </nav>
  <div style="clear: both;"></div>

  <h1>3.5 Using Mixins with the @content</h1>
  <section>
    <article>Article content</article>
    <aside>Aside content, hidden when screen width is less then 300px and turns green at 500px</aside>
    <div style="clear: both;"></div>
  </section>

  <h1>3.6 Passing Variable Number of Arguments to Mixins</h1>
  <div id="tile1">tile1</div>
  <div id="tile2">tile2</div>

    <h1>3.7 Color Functions</h1>
    <h2>Whats up with this mix</h2>
    <div class="leadText">This is the lead test, what what!</div>
    <div class="detailText">
      Lots and lots and lots and lots and lots and lots 
      and lots and lots and lots and lots and lots and lots and lots and lots 
      and lots and lots and lots and lots and lots and lots and lots and lots 
      and lots and lots and lots and lots and lots and lots and lots and lots 
      and lots and lots and lots and lots and lots and lots and lots and lots 
      and lots and lots and lots and lots and lots and lots and lots and lots 
      and lots and lots and lots and lots and lots and lots and lots and lots 
      and lots and lots and lots and lots and lots and lots and lots and lots
      of details
    </div>

    <h1>3.8 Performing Conditional IF Logic</h1>


</body>
